/* basic styling for app */
.App {
  text-align: center;
  /* background-color: black;
  color: white; */
}

/* flexbox layout for top-row-content */
.top-row-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
  padding: 10px;
}

.logo-container {
  flex: 1 1 150px; /* Adjust width based on available space */
}

.station-form {
  flex: 2 1 300px; /* Allow form to grow and shrink */
}

.station-form select,
.station-form button {
  margin: 5px;
  padding: 5px;
}

button {
  margin-right: 10px; /* Adds space between the buttons */
}

/* styling for logo */
.logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.station-form table {
  width: 100%;
}

.map-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* styling for MRT map */
.mrt-map {
  max-width: 100%;
  height: auto;
}

/* styling for paragraph beside MRT map */
.paragraph {
  flex-grow: 1;
  margin-left: 20px;
}

/* results section */
.result-row .results {
  margin-top: 20px;
}

.results ul {
  list-style-type: none;
  padding: 0;
}

.results li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* center the table on the page */
.centered-table {
  margin: auto; /* centers table horizontally */
  width: 100%; /* can be optional; set width to better control table size */
  border-collapse: collapse; /* remove gaps between cells */
  border: none;
}

/* center table headers and data cells */
.centered-table th,
.centered-table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  border: none;
  text-align: left;
  vertical-align: top;
}

/* ensure that content inside table cells is left-aligned */
.centered-table p {
  margin: 0;
  text-align: center;
}

.station-list {
  padding-left: 0;
  margin-top: 1px;
}

.station-item {
  margin: 2px 0;
  line-height: 1.2;
  list-style-type: none;
}

/* Style for the icons in the route summary */
.icon, .icon-summary {
  width: 24px;
  height: 24px;
  vertical-align: middle; /* Aligns icon with text */
  margin-right: 1px;
}

/* Style for the transition arrow in the route summary */
.transition-arrow {
  margin: 0 2px;
  font-size: 18px;
}

/* Style for the description list to reduce spacing */
.description-list {
  padding-left: 0;
  margin: 5px 0;
}

.description-list li {
  margin: 2px 0;
  line-height: 1.2;
  list-style-type: none;
}

.transfer-icons {
  display: inline-flex;
  align-items: center; /* Vertically align the icons and arrow */
}

.transfer-arrow {
  margin: 0 0px; /* Space around the arrow */
  margin-right: 5px;
  font-weight: bold;
  font-size: 18px;
}

/* Media query for smaller screens */
@media (max-width: 500px) {
  .top-row-content {
    flex-direction: column;
    align-items: center; /* Center items on small screens */
  }

  .station-form {
    width: 100%; /* Full width on smaller screens */
  }

  .station-form button {
    width: 45%; /* Ensure buttons are side by side with enough space */
    max-width: 60px;
  }

  .icon-summary {
    width: 18px;
    height: 18px;
    vertical-align: middle; /* Aligns icon with text */
    margin-right: 1px;
  }

  .transfer-arrow {
    margin: 0 0px; /* Space around the arrow */
    margin-right: 3px;
    font-weight: bold;
    font-size: 15px;
  }

  .description-list {
    padding-left: 0;
    margin: 5px 0;
    font-size: 12px;
  }

  .route-summary {
    font-size: 12px;
  }
}

.project-description-box {
  background-color: #f9f9f9; /* Light grey background for the box */
  border: 1px solid #dcdcdc; /* Subtle border */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Space inside the box */
  margin-top: 0px; /* Add space above the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.project-heading {
  font-family: 'Arial', sans-serif; /* Modern and clean font */
  color: #333; /* Dark grey text */
  font-size: 24px; /* Heading size */
  font-weight: 600; /* Bold heading */
  margin-bottom: 15px; /* Space between heading and content */
}

.paragraph p {
  font-family: 'Roboto', sans-serif; /* Clear and readable font */
  font-size: 16px; /* Standard paragraph size */
  color: #555; /* Slightly lighter grey for readability */
  line-height: 1.6; /* Increased line height for readability */
  margin-bottom: 15px; /* Space between paragraphs */
  text-align: justify; /* Apply justification to paragraphs */
}

.paragraph p.highlight {
  color: #d9534f; /* Red for important points */
  font-weight: 500; /* Make the important points bold */
}

.paragraph p.comingSoonHighlight {
  color: rgb(1, 90, 90); /* Red for important points */
  font-weight: 500; /* Make the important points bold */
}

.paragraph p:last-child {
  margin-bottom: 5; /* Remove bottom margin from the last paragraph */
}
