/* basic styling for app */
.App {
  text-align: center;
  /* background-color: black;
  color: white; */
}

/* flexbox layout for top-row-content */
.top-row-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* allows wrapping for smaller screens */
  padding: 10px;
}

.logo-container {
  flex: 1 1 150px; /* adjust width based on available space */
}

.station-form {
  flex: 2 1 300px; /* allow form to grow and shrink */
}

.station-form select,
.station-form button {
  margin: 5px;
  padding: 5px;
}

button {
  margin-right: 10px; /* adds space between buttons */
}

/* styling for logo */
.logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.station-form table {
  width: 100%;
}

.map-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* styling for MRT map */
.mrt-map {
  max-width: 100%;
  height: auto;
}

/* styling for paragraph beside MRT map */
.paragraph {
  flex-grow: 1;
  margin-left: 20px;
}

/* results section */
.result-row .results {
  margin-top: 20px;
}

.results ul {
  list-style-type: none;
  padding: 0;
}

.results li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* center the table on the page */
.centered-table {
  margin: auto; /* centers table horizontally */
  width: 100%; /* control table size */
  border-collapse: collapse; /* remove gaps between cells */
  border: none;
}

/* center table headers and data cells */
.centered-table th,
.centered-table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  border: none;
  text-align: left;
  vertical-align: top;
}

/* ensure that content inside table cells is left-aligned */
.centered-table p {
  margin: 0;
  text-align: center;
}

.station-list {
  padding-left: 0;
  margin-top: 1px;
}

.station-item {
  margin: 2px 0;
  line-height: 1.2;
  list-style-type: none;
}

/* style for the icons in the route summary */
.icon, .icon-summary {
  width: 24px;
  height: 24px;
  vertical-align: middle; /* aligns icon with text */
  margin-right: 1px;
}

/* style for the transition arrow in the route summary */
.transition-arrow {
  margin: 0 2px;
  font-size: 18px;
}

/* style for the description list to reduce spacing */
.description-list {
  padding-left: 0;
  margin: 5px 0;
}

.description-list li {
  margin: 2px 0;
  line-height: 1.2;
  list-style-type: none;
}

.transfer-icons {
  display: inline-flex;
  align-items: center; /* vertically align icons and arrow */
}

.transfer-arrow {
  margin: 0 0px; /* space around arrow */
  margin-right: 5px;
  font-weight: bold;
  font-size: 18px;
}

/* smaller screens */
@media (max-width: 500px) {
  .top-row-content {
    flex-direction: column;
    align-items: center; /* center items on small screens */
  }

  .station-form {
    width: 100%; /* full width on smaller screens */
  }

  .station-form button {
    width: 45%; /* ensure buttons are side by side with enough space */
    max-width: 60px;
  }

  .icon-summary {
    width: 16px;
    height: 16px;
    vertical-align: middle; /* aligns icon with text */
    margin-right: 1px;
  }

  .transfer-arrow {
    margin: 0 0px; /* space around the arrow */
    margin-right: 3px;
    font-weight: bold;
    font-size: 12px;
  }

  .description-list {
    padding-left: 0;
    margin: 5px 0;
    font-size: 12px;
  }

  .route-summary {
    font-size: 12px;
  }
}

.project-description-box {
  background-color: #f9f9f9; /* light grey background for box */
  border: 1px solid #dcdcdc; /* subtle border */
  border-radius: 8px; /* rounded corners */
  padding: 20px; /* space inside box */
  margin-top: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* soft shadow for depth */
}

.project-heading {
  font-family: 'Arial', sans-serif;
  color: #333; /* dark grey text */
  font-size: 24px; /* heading size */
  font-weight: 600; /* bold heading */
  margin-bottom: 15px; /* space between heading and content */
}

.paragraph p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* standard paragraph size */
  color: #555; /* Slightly lighter grey for readability */
  line-height: 1.6; /* increased line height for readability */
  margin-bottom: 15px; /* space between paragraphs */
  text-align: justify;
}

.paragraph p.highlight {
  color: #d9534f; /* red for important points */
  font-weight: 500; /* make important points bold */
}

.paragraph p.comingSoonHighlight {
  color: rgb(1, 90, 90); /* blue */
  font-weight: 500; /* bold */
}

.paragraph p:last-child {
  margin-bottom: 5;
}
