/* Flexbox for layout */
.App {
  text-align: center;
  width: 100%;
}

/* Responsive layout for top-row content */
.top-row-content,
.map-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow content to wrap on smaller screens */
  padding: 20px;
  width: 100%;
}

/* Logo styling for responsiveness */
.logo {
  max-width: 150px;
  height: auto;
}

.station-form {
  flex-grow: 1;
  margin-left: 20px;
}

.station-form table {
  width: 100%;
}

.station-form select,
.station-form button {
  margin: 5px;
  padding: 5px;
  width: 100%; /* Allow form inputs to be responsive */
}

/* Responsive MRT Map */
.mrt-map {
  width: 100%; /* Make image take up available space */
  max-width: 100%; /* Ensure it doesn't exceed its container */
  height: auto;
  cursor: pointer;
}

/* Responsive project description */
.project-description-box {
  flex-grow: 1;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Responsive text */
.paragraph p {
  font-size: 1em;
  text-align: justify;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .logo {
    max-width: 100px;
  }

  .top-row-content,
  .map-row {
    flex-direction: column; /* Stack content vertically on small screens */
    align-items: center;
  }

  .mrt-map {
    width: 100%;
    height: auto; /* Allow the image to resize dynamically */
  }

  .project-description-box {
    width: 100%;
    margin-top: 15px;
  }

  .station-form select,
  .station-form button {
    width: 100%; /* Make form elements fill the screen on mobile */
  }

  .centered-table th,
  .centered-table td {
    padding: 5px;
  }
}
